
@model cod.Models.MarketingPage

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>
<hr />
<p> @Html.DisplayFor(model => model.Head)</p>
<p> @Html.DisplayFor(model => model.HeadImage)</p>
<p> @Html.DisplayFor(model => model.AboutTitle)</p>
<p> @Html.DisplayFor(model => model.About)</p>
<p>< @Html.DisplayFor(model => model.FeatureOneTitle)</p>
<p>< @Html.DisplayFor(model => model.FeatureOneImage)</p>
<p>< @Html.DisplayFor(model => model.FeatureOneText)</p>
<p>< @Html.DisplayFor(model => model.FeatureTwoTitle)</p>
<p>< @Html.DisplayFor(model => model.FeatureTwoImage)</p>
<p>< @Html.DisplayFor(model => model.FeatureTwoText)</p>

<p>< @Html.DisplayFor(model => model.ColumnOneImage)</p>
<p>< @Html.DisplayFor(model => model.ColumnOneTitle)</p>
<p>< @Html.DisplayFor(model => model.ColumnOneText)</p>

<p>< @Html.DisplayFor(model => model.ColumnTwoImage)</p>
<p>< @Html.DisplayFor(model => model.ColumnTwoTitle)</p>
<p>< @Html.DisplayFor(model => model.ColumnTwoText)</p>

<p>< @Html.DisplayFor(model => model.ColumnThreeImage)</p>
<p>< @Html.DisplayFor(model => model.ColumnThreeTitle)</p>
<p>< @Html.DisplayFor(model => model.ColumnThreeText)</p>



<p> @Html.DisplayFor(model => model.PostTitle)</p>
@foreach (var post in Model.Posts)
{
    <p>@post.Title</p>
    <p>@post.Text</p>
    <p>@post.AdditionalInfo</p>
    <p>@post.ImagePath</p>

}

          